@model BookStore.Models.ViewModels.LoginViewModel

<div class="col-md-6 offset-md-3">
    <div class="card card-body bg-light">
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary"/>
        </div>
    </form>
    </div>
</div>